<footer class="footer">
    <div class="cards">
        <img src="/img/card_visa.png" alt="">
    </div>
    <div class="companyInfo">
        <p>Eventas A/S</p>
        <p>filmvej 1</p>
        <p>1234 Filmby</p>
        <p>CVR: 45689547</p>
        <p>Tlf.: 45454545</p>
        <p>Email: kontakt@eventas.dk</p>
    </div>
    <div class="conditions">
        <p><a href="/betingelser">Handelsbetingelser</a></p>
        <p><a href="/persondata">Persondata behandling</a></p>
        <p><a href="/cookies">Cookies</a></p>
    </div>
</footer>
<script src='/js/cookiesamtykke-ver2.js'></script>