<% include partials/head.ejs %>
<% include partials/header.ejs %>
    <main tabindex="0" role="main" class="main" id="maincontent"></main>
        <div class="orderFormContainer">
            <div class="conditionsText">
                <h3>Betingelser</h3>
                <br>
                <h4>Aftaleindgåelsen</h4>
                <br>
                <p>Betingelserne er først bindende for begge parter, når Eventas har registreret betalingen</p>
                <br>
                <h4>Levering</h4>
                <br>
                <p>Når køb af varen er bekræftet af sælger via hjemmesiden og/eller via e-mail, vil varen både være e-mailet til køber ligesom varen ligeledes vil kunne afhentes hos sælger.</p>
                <br>
                <h4>Gyldighed</h4>
                <br>
                <p>Varen er gyldig for ihændehaver. Sælger kan ikke drages til ansvar for misbrug af varen.</p>
                <br>
                <h4>Online betaling</h4>
                <br>
                <p>Beløbet hæves på din konto, når varen er fremsendt pr. e-mail og/eller udskrevet hos sælger. Al kommunikation, vedrørende betaling, foregår krypteret. Der er således ikke andre, der kan se dine kortoplysninger.</p>
                <br>
                <h4>Refundering</h4>
                <br>
                <p>Som udgangspunkt refunderes købte billetter kun ved aflysning af pågældende forestilling.</p>
                <p>Såfremt varen bortkommer, kan ny rekvireres ved personlig henvendelse hos sælger. varen udleveres kun mod forevisning af gyldig billedlegitimation samt oplysninger om hvilket telefonnummer og e-mail adresse, der er opgivet ved købet.</p>
            </div>
        </div>
    </main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>