<% include partials/head.ejs %>
<% include partials/header.ejs %>
    <main tabindex="0" role="main" class="main" id="maincontent"></main>
        <div class="orderFormContainer">
            <div class="conditionsText">
                    <h3>Behandling af persondata</h3>
                    <br>
                    <p>Jf. bekendtgørelse nr. 1148 fra Erhvervsministeriet skal der oplyses om brugen af cookies på hjemmesider.</p>
                    <br>
                    <p>Cookie er engelsk og betyder 'småkage'. I denne forbindelse referer begrebet 'cookies' imidlertid til små filer med information der gemmes på din computer/tablet/smartphone når du besøger de fleste hjemmesider - blandt andre hjemmesiden her.</p>
                    <br>
                    <p>Brugen af cookies på hjemmesider har forskellige formål. På hjemmesiden her bruger vi cookies til:</p>
                    <br>
                    <p>- at muliggøre funktioner som bestilling og køb: holde styr på de forskellige samtidige gæsters samtidige bestillinger så de ikke blandes sammen, etc.</p>
                    <br>
                    <p>- at forbedre brugeroplevelsen: huske på indtastede brugerinformationer som e-mailadresse, etc. så indtastninger kan forudfyldes, at muliggøre auto-login, etc.</p>
                    <br>
                    <p>Du kan i din browser blokere for brugen af cookies - og du kan slette de cookies der allerede er gemt på din computer. Vær blot opmærksom på at blokerer du for brugen af cookies så vil hjemmesiden her ikke kunne fungere som tiltænkt.</p>
               </div>
        </div>
    </main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>