<% include partials/head.ejs %>
<% include partials/header.ejs %>
    <main tabindex="0" role="main" class="main" id="maincontent"></main>
        <div class="orderFormContainer">
            <div class="conditionsText">
                <h3>Behandling af persondata</h3>
                <br>
                <p>I forbindelse med bestilling og køb her på hjemmesiden registrerer Eventas følgende data:</p>
                <br>
                <p>E-mailadresse, telefonnummer samt oplysninger om hvilke billetter bestilt/købt.</p>
                <br>
                <p>Formålet med registreringen er at kunne levere de bestilte/købte varer og ydelser. Endvidere vil ordredata indgå i alm. statistikudarbejdelse.</p>
                <br>
                <p>Data gemmes i en periode på op til 5 år. Herefter anonymiseres data.</p>
                <br>
                <p>Ved anmodning om sletning af vores registreringer vil anmodningen indenfor en kalenderuge efterkommes i form af en anonymisering af data. Ikke anonymiserede sikkerhedskopier af data vil eksistere i en periode op til 90 dage efter at anmodningen er efterkommet.</p>
            </div>
        </div>
    </main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>